body
	{
		background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
	}

.heading {
  font-size: 22px;
  font-weight: 500;
}

.subheading {
  font-size: 16px;
  padding-bottom: 60px;
}

p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

hr {
	border-top: 2px solid #828282;
	width: 120px;
}

/* gallery section */
#gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}
#gallery .col-md-4 {
  padding-top: 52px;
}
#gallery img {
  width: 100%;
  padding-bottom: 18px;
/*   object-fit:cover; */
}
#gallery .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}
#gallery h3 {
  padding-top: 10px;
  font-size: 18px;
  line-height: 20px;
}


#menu, #gallery, #team {
	padding-top: 100px;
	padding-bottom: 100px;
}
