#section1 {
	background-color: #EBD234;
}

.btn-circle.btn-md {
	width: 60px;
	height: 60px;
	padding: 7px 10px;
	border-radius: 30px;
	font-size: 10px;
	text-align: center;
}

.btn-circle.btn-lg {
	width: 120px;
	height: 120px;
	padding: 10px 16px;
	border-radius: 60px;
	font-size: 12px;
	text-align: center;
	vertical-align: center;
}	

.p {
	vertical-align: center;
	text-align: center;
	line-height: 1;
	width: 50px; /* à modifier selon vos besoins */
  	overflow: auto; /* les dépassements seront masqués */
}

div.col{
	width: 125px;
	vertical-align: center;
	text-align: center;

body {
  background-color: powderblue;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 100px;
    height: 100px;
    background: yellow;
    border: 3px solid red;
}
.type2 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}
.type3 {
    width: 500px;
    height: 500px;
    background: aqua;
    border: 30px solid blue;
}

