#section1 {
	background-color: #ebd234;
}



.btn-circle.btn-md {
	width: 60px;
	height: 60px;
	padding: 7px 10px;
	border-radius: 30px;
	font-size: 10px;
	text-align: center;
}

.btn-circle.btn-lg {
	width: 120px;
	height: 120px;
	padding: 10px 16px;
	border-radius: 60px;
	font-size: 12px;
	text-align: center;
	vertical-align: center;
}	

.p {
	vertical-align: center;
	text-align: center;
	line-height: 1;
	width: 50px; /* à modifier selon vos besoins */
  	overflow: auto; /* les dépassements seront masqués */
}

div.col{
	width: 125px;
	vertical-align: center;
	text-align: center;


